<h1>New Patient</h1>

<%= render('layouts/errors', :object => @patient) %>

<form action="/patients" method="post">

<%= render('form') %>

<button class="btn btn-success">Create Patient</button>
</form>