<h1>Edit doctor</h1>

<%= render('layouts/errors', :object => @doctor) %>

<form action="/doctors/<%= @doctor.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <%= render('form') %>

  <button>Update Doctor</button>
</form>