<h1><%= @doctor.name %></h1>

<p><a href="/doctors/<%= @doctor.id %>/edit">Edit doctor's name</a></p>


<p><a href="/doctors/<%= @doctor.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/doctors">Return to doctor listing</a></p>