@import "bootstrap";
@import "bootstrap-sprockets";

 body {
  font-size: 100% Helvetica, sans-serif;
  background-color: #efefef;
}

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }