<div class="container" ng-controller="PatientsCtrl">
  <div class="row" ng-show="patients.length">
    <div class="col-md-4">
      <div class="col-md-4">
        <h4>Search Patients</h4>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input ng-model="query" type="text" class="form-control" id="patient-name" placeholder="Search">
          </div>
        </form>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <h2 ng-show="patients.length && filtered.length">Patient List</h2>
      <h2 ng-show="patients.length && !filtered.length">No Matches</h2>
      <ul>
        <li ng-repeat="item in filtered = (patients | filter:query)">
          <span ng-click="editing = true" ng-hide="editing">
            <span>{{item.name}}</span> <a ng-click="PatientsFactory.deletePatient(item)">| Delete</a>
          </span>
          <span class="form-group" ng-show="editing" ng-submit="editing = false">
            <form class="form-inline" role="form">
              <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
              <button ng-click="PatientsFactory.updatePatient(item)" class="btn btn-default btn-sm" type="submit">Save</button>
            </form>
          </span>
        </li>
      </ul>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4">
      <h2>New Patient</h2>
      <form ng-submit="addPatient()" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" ng-model="PatientsFactory.patientName" class="form-control" id="patient-name" placeholder="Enter name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
</div>
